<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Questions</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel='stylesheet' type='text/css' media='screen' href='/questions.css'>
    <script src="/questions_frontend.js"></script>
</head>
<% if (!filter_questions && questions.length > 0) { %>
<body onload="test_left('<%= questions[0].id %>'); test_right('<%= questions[questions.length - 1].id %>');">
<% } else { %>
<body>
<% } %>
    <div class="not-content">
        <%- include('partials/navbar') %>
    </div>

    <div class="content">
        <div class="left col-9">
            <h1 class="left-header">All questions</h1>
            <% for(let i = 0; i < questions.length; i++) { %>
                <div class="divider"></div>
                <div class="question col-12">
                    <div class="question-left col-2">
                        <p><%= questions[i].voteCount %> votecount</p>
                        <p><%= questions[i].answers.length %> answers</p>
                        <% if(questions[i].author.banned === 0 && role === 1 && questions[i].author.userName !== username) { %>
                            <form method="POST" action="/users/<%= questions[i].author.id %>/ban">
                                <button type="submit" class="btn btn-danger bottom-btn question-button">Ban</button>
                            </form>
                        <% } %>
                    </div>
                    <div class="question-right col-10">
                        <h3><%= questions[i].title %></h3>
                        <p><%= questions[i].content %></p>

                        <div class="tags col-11">
                            <div class="tags-tags">
                                <% for(let j = 0; j < questions[i].tags.length; j++) { %>
                                    <a href="/questions/tag/<%= questions[i].tags[j].name %>"><div type="submit" class="question-tag"><%= questions[i].tags[j].name %></div></a>
                                <% } %>
                            </div>
                            <div class="tags-date">
                                <%
                                    const date = new Date(questions[i].date);
                                    const year = date.getFullYear();
                                    const month = String(date.getMonth() + 1).padStart(2, '0');
                                    const day = String(date.getDate()).padStart(2, '0');
                                    const hour = String(date.getHours()).padStart(2, '0');
                                    const minute = String(date.getMinutes()).padStart(2, '0');
                                    const formattedDate = `${year}.${month}.${day} ${hour}:${minute}`;
                                %>
                                <p class="question-date"><%= formattedDate %></p>
                            </div>
                        </div>

                        <div class="buttons col-11">
                            <div class="buttons-buttons">
                                <a href="/questions/<%= questions[i].id %>">
                                    <button type="button" class="btn btn-info bottom-btn question-button">View</button>
                                </a>
                                <% if ((questions[i].author.userName != username) && (!questions[i].alreadyVoted)){ %>
                                    <form method="POST" action="/questions/upvote/<%= questions[i].id %>">
                                        <button type="submit" class="btn btn-success bottom-btn question-button">Like</button>
                                    </form>
                                    <form method="POST" action="/questions/downvote/<%= questions[i].id %>">
                                        <button type="submit" class="btn btn-danger bottom-btn question-button">Dislike</button>
                                    </form>
                                <% } %>
                                <% if(questions[i].author.userName === username || role === 1){ %>
                                    <form method="GET" action="/questions/update/<%= questions[i].id %>">
                                        <button type="submit" class="btn btn-warning bottom-btn question-button">Edit</button>
                                    </form>
                                    <form method="POST" action="/questions/delete/<%= questions[i].id %>">
                                        <button type="submit" class="btn btn-danger bottom-btn question-button">Delete</button>
                                    </form>
                                <% } %>
                            </div>
                            <h3 class="question-author"><%= questions[i].author.userName %> [<%= questions[i].author.score %>]</h3>
                        </div>
                    </div>
                    
                </div>
            <% } %>
            <% if (!filter_questions && questions.length > 0) { %>
                <div class="page-buttons">
                    <a id="left-anchor" href="/questions?id=<%= questions[0].id + 1 %>&greater=1"><button id="left-button" class="btn btn-danger"><i class="fas fa-chevron-left"></i></button></a>
                    <a id="right-anchor" href="/questions?id=<%= questions[questions.length - 1].id - 1 %>"><button id="right-button" class="btn btn-danger"><i class="fas fa-chevron-right"></i></button></a>
                </div>
            <% } %>
        </div>
        <div class="right col-3">
            <% if (role === 1) { %>
                <a href="/users/unban">
                    <button type="button" class="btn unban-button add-question-button">Unban users</button>
                </a>
            <% } %>
            <form class="submitForm" method="POST" action="/questions" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input required type="text" class="form-control bg-info-subtle" id="title" name="title" placeholder="Title">
                </div>
                <div class="mb-3">
                    <label for="content" class="form-label">Content</label>
                    <input required type="text" class="form-control bg-info-subtle" id="content" name="content" placeholder="Content">
                </div>
                <div class="mb-3">
                    <label for="tags" class="form-label">Tags (separated by ;)</label>
                    <input required type="text" class="form-control bg-info-subtle" id="tags" name="tags" placeholder="tag1;tag2;tag3...">
                </div>
                <div class="mb-3">
                    <label for="picture" class="form-label">Picture</label>
                    <input type="file" class="form-control bg-info-subtle" id="picture" name="picture">
                </div>
                <button type="submit" class="submit-button btn add-question-button">Post question</button>
            </form>
        </div>
    </div>
</body>
</html>